body{
    margin: 0 0 0 0 ;
text-align: center;
letter-spacing: 1px;

}

.nav-link{
    font-weight: 700;
    font-size: 1.3rem;
}
.navbar {
    padding: .5% 4%;  
}

#navbar:hover .nav-item{
    filter: blur(2px);
}

#navbar:hover .nav-item:hover{
    filter: blur(0px);
}

.top h1{
    font-size: 56px;
         color: #183A1D;
        margin:10px auto 10px auto ;
        
    }

.top h2{
    font-size: 35px;
     color: #183A1D;
     font-family: 'Courier New', monospace;
     margin:0 auto 0 auto ;
}
.top p{
    color: #183A1D;
    font-size: 35px;
    font-family: 'Merriweather', serif;
    margin-top: 5%;

}
.background{
    margin-top: 0;
    
}
.top{
    text-align: center;
    position: absolute;
    top: 10em;
    left: 40%;
   }

   .about {
            margin-left: 25%;
            font-size:x-large;
            padding: 8% 4%;
   }
   .about h1{
            margin-top:70px ;
            position: relative;
            bottom: 45px;
           font-size: 45px;
            font-family: 'Merriweather', serif;
            color: #183A1D;
   }
   .about p{
   
    text-align: justify;
    padding-left: 4%;
    position: relative;
    bottom: 30px;
    font-family: 'Merriweather', serif
    
   }

   .mypic{
        border-radius: 50%;
        position: absolute;
        left: 20px;
        top : auto;
}
  .skill {
            margin: 0;
            font-size:x-large;
            text-align: center;
            padding: 8% 4% 5% 4%;
            background-color: #79E0EE;
           
  }
.skill h1{
   
    position: relative;
    bottom: 70px;
   font-size: 44px;
   font-family: 'Merriweather', serif;
    color: #183A1D;
}
.development{
    margin-top: 0;
    margin-right: 50%;
    padding-right: 0;
    text-align: justify;
    font-family: 'Merriweather', serif
}
.development h2{
    text-align: justify;

}

.devsticker{
    margin-left: 2%;
    width: 25%;
    float: right;
}

.language{
    margin-top: 10%;
    margin-left: 50%;
    padding-right: 0;
    text-align: justify;
    font-family: 'Merriweather', serif
 
}
.language h2{
    text-align: justify;
}

.languagepic{
    width: 25%;
    float: left;
    margin-right: 2%;
}
hr{
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-color: grey ;
    border-width: 5px ;   
    margin-top:20px;
    display: none;
}

.skill1{
    width: 50%;
}
.skill2{
    width: 50%;
}
.skill3{
    width: 50%;
}
.skill4{
    width: 50%;
}
.skill5{
    width: 50%;
}

.skill-img{
    width: 15%;

}


#tech-skill{
    padding: 5% 4% 5% 4%;
}
.icon{
    text-align: right;
    padding: 1% 0;
}

.name{
    text-align: left;
    padding: 3% 2% ;
}


.row{
    padding: 5% 0;
}
.myhobbies {
    
    font-size:x-large;
    padding: 5%;
    text-align: justify;
}

.myhobbies h1{
    position: relative;
    bottom: 20px;
    text-align: center;
    font-size: 44px;
    font-family: 'Merriweather', serif;

}
.myhobbies h3{
  margin-bottom: 0;

}
.myhobbies p{
    margin-top: 0px;
    white-space: normal;
    
}
.hobbiep1{
    margin-bottom: 50px;
}
.hobbiepic{
    width: 5%;
    float: right;
    position: absolute;
    right: 33%;
    
}

.contact {
    
    font-size:x-large;
    padding: 6% 4%;
    text-align: center;
    background-color: #79E0EE;
}

.contact h1{
   
    position: relative;
    bottom: 40px;
    font-size: 44px;
    color: #183A1D;
}
.contact h2{
   
    position: relative;
    bottom: 20px;
    color: #183A1D;
}
.contact p{
   
    position: relative;
    bottom: 5px;
    
   
}

.bottom {
    margin-top: 0%;
    font-size:x-large;
    text-align: center;
    background-color:#f4a631;
    letter-spacing: 2px;
    padding: 2% 0 1% 0;  
    word-spacing: 10px;
    text-decoration:none;
}
a{
    text-decoration: none;
    color: #183A1D;
}

.btn {
    background: #26afff;
    background-image: -webkit-linear-gradient(top, #26afff, #ffd4e2);
    background-image: -moz-linear-gradient(top, #26afff, #ffd4e2);
    background-image: -ms-linear-gradient(top, #26afff, #ffd4e2);
    background-image: -o-linear-gradient(top, #26afff, #ffd4e2);
    background-image: linear-gradient(to bottom, #26afff, #ffd4e2);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: black;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #458cf7;
    background-image: -webkit-linear-gradient(top, #f69e19 ,#f4a631 );
    background-image: -moz-linear-gradient(top,#f69e19 ,#f4a631);
    background-image: -ms-linear-gradient(top, #f69e19,#f4a631);
    background-image: -o-linear-gradient(top,#f69e19 , #f4a631);
    background-image: linear-gradient(to bottom,#f69e19 , #f4a631);
    text-decoration: none;
  }


.mem{
    width:100%;
    transition: transform .2s;
}
.mem:hover{
transform: scale(1.06);
}

#projects{
    background-color: #79E0EE;
    padding: 8% 4% ;
}

/* .card:hover {
    p
} */
.project-sec{
    padding: 5% 4%;
}

.project-img{
width: 50%;
}

.cardy-body{
    padding: 3% 0;
}

.projects-column {
    padding: 2% 1%;
}

@media (max-width:1028px) {
    .background{
        width: auto;
    }
}
